.headerInner {
    max-width: 1200px;
    height: 110px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.toggleMenuButton {
    display: none;
}

.headerLogo {
    display: block;
    width: 170px;
}
.siteMenu ul {
    display: flex;;
}

.siteMenu ul li {
    margin-left: 20px;
    margin-right: 20px;
}
.siteMenu ul li a{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}